{{#unless hideInNav}}
  {{#if items}}
    <div class="nav-group">
      <h4 class="nav-group-title">{{name}}</h4>
      <ul class="nav-group-items">
        {{#each items}}
          {{#if makeNavSection}}
            {{>layout/nav/section-item}}
          {{else}}
            {{>layout/nav/item}}
          {{/if}}
        {{/each}}
      </ul>
    </div>
  {{else}}
    <li><a href="#{{./htmlId}}">{{name}}</a></li>
  {{/if}}
{{/unless}}
