{{!--
  Original work Copyright (c) 2015 Nils Knappmeier
  https://github.com/bootprint/bootprint-openapi

  Renders a json.schema inside a panel.
  @public
  @readonly
--}}
{{! This is for Types }}
<div id="definition-{{htmlId @key}}" class="definition panel"
  data-traverse-target="definition-{{htmlId @key}}">
  {{#unless @first }}
    <div class="definition-tags">
      <a class="label" href="#tag-types">Types</a>
    </div>
  {{/unless}}
  {{#if title}}
    {{#if anchor}}
      <h2 class="panel-title">
        <a name="/definitions/{{title}}"></a>{{md (codify title)}}
        {{!--
          <!-- <span class="json-property-type">{{>json-schema/datatype}}</span> -->
        --}}
      </h2>
    {{else}}
      <h2 class="panel-title">{{title}}</h2>
    {{/if}}
  {{/if}}

  <div class="doc-row">
    <div class="doc-copy">
      {{#if $ref}}
        {{>json-schema/reference .}}
      {{else}}
        {{#if (isEnum . )}}
          {{>json-schema/enum}}
        {{else if (isInputType .)}}
          {{>json-schema/input-type}}
        {{else}}
          {{>json-schema/body}}
        {{/if}}
      {{/if}}
    </div>

    {{! Print examples without whitespace }}
    {{#ifneq type 'string'}}
      <div class="doc-examples">
        <section>
          <h5>Example</h5>
          {{>swagger/print-example .}}
        </section>
      </div>
    {{/ifneq}}
  </div>
</div>
