{{! DELETE ME }}
{{!--
  Original work Copyright (c) 2015 Nils Knappmeier
  https://github.com/bootprint/bootprint-openapi

  Renders the responses section of an operation
  @param {Response[]} responses a list of Swagger-Response definitions
  @param {string[]} produces a list of response content types produced by the operation
  @api public
--}}

{{#if responses}}
  <div class="doc-row">
    <div class="doc-copy">
    </div>

    {{! Print examples without whitespace. }}
    <div class="doc-examples">
      {{#if produces}}
        <h5>Response Content-Types:
          <span>{{#each produces}}{{.}}{{#unless @last}}, {{/unless}}{{/each}}</span>
        </h5>
      {{/if}}

      {{#each responses}}
        {{#schemaReferenceContext $ref}}
          <section>
            {{!

              The HTTP Response Example

            }}
            <h5>Response
              {{!-- We don't need the response code, do we? no.
                <span>({{@key}} {{httpResponseCode @key}})</span>
              --}}
            </h5>
            {{>swagger/print-example schema.example}}
          </section>
          {{#if headers}}
            <section>
              <h5>Response Headers <span>({{@key}} {{httpResponseCode @key}})</span></h5>
              <section class="swagger-response-headers">
                <table class="table">
                  <thead>
                  <tr>
                    <th class="swagger-response-header-name"></th>
                    <th class="swagger-response-header-description"></th>
                    <th class="swagger-response-header-data-type"></th>
                  </tr>
                  </thead>
                  <tbody>
                  {{#each headers}}
                    {{#if $ref}}
                      {{> swagger/responseHeaderRow header=(json-schema-resolve-ref $ref) name=@key}}
                    {{else}}
                      {{> swagger/responseHeaderRow header=. name=@key}}
                    {{/if}}
                  {{/each}}
                  </tbody>
                </table>
              </section>
            </section>
          {{/if}}
        {{/schemaReferenceContext}}
      {{/each}}
    </div>
  </div>
{{/if}}
