{{#if description}}
  <section class="json-schema-description">
    {{md description}}
  </section>
{{/if}}
{{#if anyOf}}
  <section class="json-schema-properties-blank">
    <table>
      <tr>
        <th>Enum Value</th>
        <th>Description</th>
      </tr>
      {{#each anyOf}}
        <tr>
          {{! The Value column }}
          <td>{{md (codify enum.[0]) addClass=(ternary (and isDeprecated (not @root.info.x-hideIsDeprecated)) "swagger-operation-deprecated" false)}}</td>
          {{! The Description column }}
          <td>{{ md (
              concat
                (stripTrailing description ".")
                (ternary (and deprecationReason (not @root.info.x-hideDeprecationReason))
                  (concat "Deprecation Reason: " deprecationReason)
                  ""
                )
              joiner=". " altJoiner=" " altJoinerRegex="[\?\!]" filterFalsy=true
            ) stripParagraph=true
          }}</td>
        </tr>
      {{/each}}
    </table>
  </section>
{{/if}}

{{!-- Old way of doing Enum values
{{~#if (isEnum .)}}
  <span class="json-property-enum" title="Possible values">
    {{#each enum}}
      {{! Render enums in the descriminator as links to the appropriate definitions}}
      {{~#if ../discriminator}}
        <span class="json-property-enum-item"><a href="#definition-{{.}}">{{.}}</a></span>
      {{~else if $ref}}
          {{~>json-schema/reference .}}
      {{~else}}
        <span class="json-property-enum-item{{#ifeq ../default .}} json-property-enum-default-value{{/ifeq}}">{{.}}</span>
      {{~/if}}{{#unless @last}},{{/unless}}
    {{/each}}
  </span>
{{~/if}}
--}}