{{!--
  Original work Copyright (c) 2015 Nils Knappmeier
  https://github.com/bootprint/bootprint-json-schema

  Renders a reference to a subschema
--}}
{{#if $ref}}
  {{#unless nodivs}}<div class="{{#if type}}json-schema-ref-{{type}}{{/if}}">{{/unless}}
    <a class="json-schema-ref" href="{{schemaReferenceHref $ref}}">{{schemaSubschemaName $ref}}</a>
  {{#unless nodivs}}</div>{{/unless}}
{{else if items.$ref}}
  {{#unless nodivs}}<div class="{{#if type}}json-schema-ref-{{type}}{{/if}}">{{/unless}}
    <a class="json-schema-ref" href="{{schemaReferenceHref items.$ref}}">{{schemaSubschemaName items.$ref}}</a>
  {{#unless nodivs}}</div>{{/unless}}
{{/if}}
