<div id="{{./htmlId}}" class="operation panel"
  data-traverse-target="{{./htmlId}}">
  {{# unless @first }}
    {{#if parentHtmlId }}
      <div class="operation-tags">
        <a class="label" href="#{{./parentHtmlId}}">{{./parentName}}</a>
      </div>
    {{/if}}
  {{/unless}}

  <h2 class="operation-name {{#if (and isDeprecated (not @root.info.x-hideIsDeprecated)) }}swagger-operation-deprecated{{/if}}">
    {{md (codify name) stripParagraph="true"}}
  </h2>

  {{#if (and deprecationReason (not @root.info.x-hideDeprecationReason))}}
    <div class="doc-row">
      <div class="doc-copy">
        <section class="operation-deprecation-reason">
          {{ md deprecationReason stripParagraph=true }}
        </section>
      </div>
    </div>
  {{/if}}

  {{#if description}}
    <div class="doc-row">
      <div class="doc-copy">
        <section class="swagger-operation-description operation-description">
          {{ md (interpolateReferences description) stripParagraph=true }}
        </section>
      </div>
    </div>
  {{/if}}

  <div class="doc-row">
    <div class="doc-copy">
      {{#if response}}
        <section class="swagger-responses">
          Returns
          {{! If it's got items, then it's an array, and we don't care about the indefiniteArticle }}
          {{#unless response.isArray }}
            {{ indefiniteArticle response.underlyingType.name }}
          {{/unless}}
          {{~ md (mdTypeLink . codify=true) stripParagraph=true }}
        </section>
        <br>
      {{/if}}
      {{>graphql/_query-or-mutation-args}}
    </div>

    <div class="doc-examples">{{#if (firstTruthy query mutation subscription)}}
      <section>
        <h4>Example</h4>
        <h5>Query</h5>
          {{printGraphQL (firstTruthy query mutation subscription)}}
          {{#if variables}}
            <h5>Variables</h5>
            {{printJSON variables}}
          {{/if}}
          {{#if response.data}}
            <h5>Response</h5>
            {{printJSON response.data}}
          {{/if}}
      </section>
    {{/if}}</div>
  </div>
  {{>swagger/security}}
</div>
