{{!--
  Original work Copyright (c) 2015 Nils Knappmeier
  https://github.com/bootprint/bootprint-openapi

  Renders the parameter table within a operation definition.
  @param {Array<Parameter>|Object<Parameter>} parameters a list of Swagger-Parameter objects
     If this is an object, an it is expected to be the global parameter list
     https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#parametersDefinitionsObject
     and the key of each entry is display in a column in front of the other columns.
  @api public
--}}

{{#if responses}}
  <section class="swagger-responses">
    {{#each responses}}
      Returns
      {{! If it's got items, then it's an array, and we don't care about the indefiniteArticle }}
      {{#unless schema.items }}
        {{ indefiniteArticle (getReturnTypeNameFromJsonSchemaReturnSchema schema)}}
      {{/unless}}
      {{~ md (mdTypeLink . codify=true) stripParagraph=true }}

      {{#if description}}
        <div class="prop-value">
          {{md (interpolateReferences description)}}
        </div>
      {{/if}}
    {{/each}}
  </section>
  <br>
{{/if}}

{{#if arguments}}
  <section class="swagger-request-params">
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      {{#each arguments}}
        {{!--
          I have no clue what this was supposed to do
          {{#schemaReferenceContext $ref}}
        --}}
        <tr>
          {{! The Name column }}
          <td>
            {{~> graphql/name-and-type }}
          </td>
          {{! The Description column }}
          <td>
            {{ md (
                concat
                  (interpolateReferences description)
                  (ternary schema.default
                    (concat "Default = "  (codify schema.default stringify=true))
                    ""
                    undefOnly=true
                  )
                joiner=". " filterFalsy=true
              ) stripParagraph=true
            }}
            {{~#if collectionFormat ~}}
              {{! No clue what this does block does }}
              <div class="prop-row prop-inner">
                {{md (swaggerCollectionFormat collectionFormat name) stripParagraph=true}}
              </div>
            {{~/if}}
          </td>
        </tr>
        {{!--
          I have no clue what this was supposed to have done
          {{/schemaReferenceContext}}
        --}}
      {{/each}}
    </table>
  </section>
{{/if}}