<div class="doc-row">
  <div class="doc-copy">
      {{md info.description}}
  </div>
  <div class="doc-examples">
    <section>
      {{#if info.contact}}
          <h5>Contact</h5>
          <p>
            {{#if info.contact.name}}
              {{info.contact.name}}<br/>
            {{/if}}
            {{#if info.contact.email}}
              <a href="mailto:{{info.contact.email}}">{{info.contact.email}}</a>
            {{/if}}
          </p>
      {{/if}}

      {{#if info.license}}
          <h5>License</h5>
          <p>
            {{#if info.license.name}}
              {{info.license.name}}<br/>
            {{/if}}
            {{#if info.license.url}}
              <a href="{{info.license.url}}">{{info.license.url}}</a>
            {{/if}}
          </p>
      {{/if}}

      {{#if info.termsOfService}}
        <p>Terms of Service:
          <a href="{{info.termsOfService}}">{{info.termsOfService}}</a>
        </p>
      {{/if}}

      {{#if servers}}
        <h5>API Endpoints</h5>
          <pre><code>{{swaggerEndpoint}}</code></pre>
      {{/if}}

      {{#if consumes}}
        <h5>Request Content-Types:
          <span>{{#each consumes}}{{.}}{{#unless @last}}, {{/unless}}{{/each}}</span>
        </h5>
      {{/if}}

      {{#if produces}}
        <h5>Response Content-Types:
          <span>{{#each produces}}{{.}}{{#unless @last}}, {{/unless}}{{/each}}</span>
        </h5>
      {{/if}}

      {{#if info.version}}
        <h5>Version:
          <span>{{info.version}}</span>
        </h5>
      {{/if}}
    </section>
  </div>
</div>
