{{!--
  This partial renders the documentation content
  @api public
--}}

<article>
  <h1 class="doc-title">{{info.title}}
    <span>API Reference</span>
  </h1>
   {{#unless info.x-spectacle-hide}}
    {{>swagger/introduction}}
  {{/unless}}
  {{#unless securityDefinitions.x-spectacle-hide}}
    {{>swagger/securityDefinitions}}
  {{/unless}}
  {{>swagger/x-spectacle-topics}}

  {{#if showTagSummary}}
    {{>swagger/tags}}
  {{else}}
    {{>swagger/paths}}
  {{/if}}

  {{>swagger/definitions definitions=definitions}}

  {{! Powered by link }}
  <div class="doc-row no-margin">
    <div class="doc-copy doc-separator">
      {{#if externalDocs}}
      <a href="{{externalDocs.url}}">{{externalDocs.description}}</a>
       {{else}}
      <a class="powered-by" href="https://github.com/wayfair/dociql">Documentation by <span>DociQL</span></a>
      {{/if}}
    </div>
  </div>
</article>
