{{!--
  Original work Copyright (c) 2015 Nils Knappmeier
  https://github.com/bootprint/bootprint-openapi

  This partial renders a box containing information about a single operation of the service
  (such as calling a POST on the "/pets" resource).
  @param {Operation} operation a Swagger-Operation object.
  @param {string} method the http-method (GET, POST, DELETE, PUT, PATCH)
  @api public
--}}
{{! This displays Queries and Mutations  }}
<div id="operation-{{htmlId path}}-{{htmlId tags.[0]}}" class="operation panel"
  data-traverse-target="operation-{{htmlId path}}-{{htmlId tags.[0]}}">
  {{# unless @first }}
    {{#if tags}}
      <!-- <section class="operation-tags row"> -->
        <!-- <div class="doc-copy"> -->
        <div class="operation-tags">
          {{#each tags}}
            <a class="label" href="#tag-{{htmlId .}}">{{.}}</a><!--{{#unless @last}}, {{/unless}}-->
          {{/each}}
        </div>
        <!-- </div> -->
      <!-- </section> -->
    {{/if}}
  {{/unless}}

  <h2 class="operation-name {{#if (and isDeprecated (not @root.info.x-hideIsDeprecated)) }}swagger-operation-deprecated{{/if}}">
    {{md (codify summary) stripParagraph="true"}}
  </h2>

  {{#if (and deprecationReason (not @root.info.x-hideDeprecationReason))}}
    <div class="doc-row">
      <div class="doc-copy">
        <section class="operation-deprecation-reason">
          {{ md deprecationReason stripParagraph=true }}
        </section>
      </div>
    </div>
  {{/if}}

  {{#if description}}
    <div class="doc-row">
      <div class="doc-copy">
        <section class="swagger-operation-description operation-description">
          {{ md (stripTrailing description ".") stripParagraph=true }}
        </section>
      </div>
    </div>
  {{/if}}

  <div class="doc-row">
    <div class="doc-copy">
      {{! The _request_body variable is filled with the parameter `body` by the preprocessor. }}
      {{#if _show_requst_body_section}}
        {{>swagger/request-body consumes=consumes body=_request_body}}
      {{/if}}

      {{>swagger/parameters parameters=parameters}}
    </div>

    {{! Print examples without whitespace }}
    <div class="doc-examples">{{#if _show_requst_body_section}}
      <section>
        <h4>Example</h3>
        {{#if consumes}}
          <h5>Request Content-Types:
            <span>{{#each consumes}}{{.}}{{#unless @last}}, {{/unless}}{{/each}}</span>
          </h5>
        {{/if}}

        <h5>Query</h5>
        {{# with _request_body }}
          {{>swagger/print-example example}}
          {{#if schema}}
            <h5>Variables</h5>
            {{>swagger/print-example .}}
          {{/if}}
        {{/with}}
      </section>
    {{/if}}</div>
  </div>

  {{>swagger/responses}}
  {{>swagger/security}}
</div>
