{{#if makeSection}}
  <section>
{{/if}}
{{#if (equal depth 0)}}
  <h5>{{name}}</h5>
{{else if (equal depth 1)}}
  <a href="#tag-{{name}}">{{name}}</a>
{{else}}
  <a href="#operation-{{name}}">{{ name }}</a>
{{/if}}
{{#if makeSection}}
  <ul>
{{/if}}

{{#each items}}
  {{#if ../makeSection}}<li>{{/if}}
  {{>layout/nav/item}}
  {{#if ../makeSection}}</li>{{/if}}
{{/each}}
{{#if makeSection}}
    </ul>
  </section>
{{/if}}