<nav id="nav" role="navigation">
  {{! Check if there is effectively nothing to do }}
  {{#unless (or info.x-hideIntroduction (and info.x-hideWelcome (or info.x-hideIntroItems (empty info.x-introItems)))) }}
    <h5>Introduction</h5>
    {{#unless info.x-hideWelcome }}
      <a href="#introduction">Welcome</a>
    {{/unless}}
    {{#unless (or info.x-hideIntroItems (empty info.x-introItems)) }}
      {{#each info.x-introItems }}
        {{! If it has a description, then it's a mini-section to be rendered, and needs an anchor ref
          to there
        }}
        {{#if description }}
          <a href="#intro-item-{{@index}}">{{title}}</a>
        {{else}}{{#if url }}
          {{!
            If it has a URL, then it's just a straight link from the Nav
            Also we need to ignore it from the Traverse stuff so that the "active" nav element works
          }}
          <a data-traverse-ignore="" href="{{url}}">{{title}}</a>
        {{/if}}{{/if}}
      {{/each}}
    {{/unless}}
  {{/unless}}

  {{#if securityDefinitions}}
    {{#unless securityDefinitions.x-spectacle-hide}}
      <a href="#authentication">Authentication</a>
    {{/unless}}
  {{/if}}

  {{#if x-spectacle-topics}}
    {{#each x-spectacle-topics}}
      <a href="#topic-{{htmlId @key}}">{{@key}}</a>
    {{/each}}
  {{/if}}

  {{#if (nempty orderedDataWithHeaders)}}
    {{#each orderedDataWithHeaders}}
      {{>layout/nav/item}}
    {{/each}}
  {{/if}}
</nav>
