<div id="page" class="drawer-layout">
  {{! DO THE NAVIGATION }}
  <div id="sidebar">
    <div class="sidebar-top-container">
      <div id="logo">
        {{#if logoData }}
          <img src="data:image/png;base64,{{logoData}}" title="{{info.title}}" />
        {{else if logoUrl}}
          <img src="{{logoUrl}}" title="{{info.title}}" />
        {{else if logoImageName}}
          <img src="images/{{logoImageName}}" title="{{info.title}}" />
        {{/if}}
      </div>
      <button class="close-button" type="button">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close menu</span>
      </button>
    </div>
    {{>layout/nav/main}}
  </div>

  <div id="docs">
    {{>layout/nav/mobile-navbar}}
    {{>layout/content/main}}
    <div class="drawer-overlay"></div>
  </div>
</div>
